{% load static %}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img width="40" height="40" alt="icon" src={% static 'img/lizard.png' %} >
                <div>
                    <h5 class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">«Саламандр»</h5>
                    <h6 class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">Туристский клуб</h6>
                </div>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-light">Главная</a></li>
                <li><a href="/news" class="nav-link px-2 text-light">Новости</a></li>
                <li><a href="/hikes" class="nav-link px-2 text-light">Походы</a></li>
                <li><a href="/about" class="nav-link px-2 text-light">О нас</a></li>
                <li><a href="/contacts" class="nav-link px-2 text-light">Контакты</a></li>
            </ul>

            <div class="text-end">
                <a href="/login" type="button" class="btn btn-success">Вход</a>
            </div>
        </div>
    </div>
</header>